Repository abyss-os/phase1, changes with the owners that CODEOWNERS names for each.
All owners: @abyss-os/contributors, @abyss-os/core, @joewholden, @5paceToast

devel/llvm: bump to 11.0.0 release
  devel/llvm/APKBUILD
Owners: @joewholden

devel/zig: bump to 0.7.0 release
  devel/zig/APKBUILD
Owners: @abyss-os/contributors

devel/nim: bump to 1.4.2 release
  devel/nim/APKBUILD
Owners: @abyss-os/contributors

devel/rust: bump to 1.48.0 release
  devel/rust/APKBUILD
Owners: @abyss-os/contributors

devel/nodejs: bump to 14.15.1 release
  devel/nodejs/APKBUILD
Owners: @abyss-os/contributors

devel/ldc: bump to 1.24.0 release
  devel/ldc/APKBUILD
Owners: @abyss-os/contributors

devel/go: bump to 1.15.5 release
  devel/go/APKBUILD
Owners: @5paceToast

devel/cmake: bump to 3.19.1 release
  devel/cmake/APKBUILD
Owners: @abyss-os/contributors

devel/python3: bump to 3.9.0 release
  devel/python3/APKBUILD
Owners: @abyss-os/contributors

devel/json-c: add
  devel/json-c/APKBUILD
Owners: @abyss-os/contributors

devel/nodejs: bump to 14.15.1 release
  devel/nodejs/APKBUILD
Owners: @abyss-os/contributors

devel/ldc: bump to 1.24.0 release
  devel/ldc/APKBUILD
Owners: @abyss-os/contributors

devel/python3: bump to 3.9.0 release
  devel/python3/APKBUILD
Owners: @abyss-os/contributors

devel/zig: bump to 0.7.0 release
  devel/zig/APKBUILD
Owners: @abyss-os/contributors

devel/rust: bump to 1.48.0 release
  devel/rust/APKBUILD
Owners: @abyss-os/contributors

devel/cmake: bump to 3.19.1 release
  devel/cmake/APKBUILD
Owners: @abyss-os/contributors

devel/go: bump to 1.15.5 release
  devel/go/APKBUILD
Owners: @5paceToast

devel/nim: bump to 1.4.2 release
  devel/nim/APKBUILD
Owners: @abyss-os/contributors

devel/go: bump 1.15.7
  devel/go/APKBUILD
Owners: @5paceToast

devel/cmake: upgrade 3.19.2
  devel/cmake/APKBUILD
Owners: @abyss-os/contributors

devel/llvm: upgrade 11.0.1
  devel/llvm/APKBUILD
Owners: @joewholden

core/musl: upgrade 1.2.2
  core/musl/APKBUILD
Owners: @abyss-os/core

devel/zig: rebuild
  devel/zig/APKBUILD
Owners: @abyss-os/contributors

devel/nim: rebuild
  devel/nim/APKBUILD
Owners: @abyss-os/contributors

core/libcxx: upgrade 11.0.1
  core/libcxx/APKBUILD
Owners: @abyss-os/contributors

devel/zig: rebuild
  devel/zig/APKBUILD
Owners: @abyss-os/contributors

devel/drone-server: upgrade 1.10.1
  devel/drone-server/APKBUILD
Owners: @abyss-os/contributors

CODEOWNERS:

# Policy:
#   - Generally all PRs need to be reviewed by someone with commit access
#   - "Critical" packages etc may be assigned to a specific person
#   - Changes to CODEOWNERS must be reviewed and approved by the "core" team.

# default
*		@abyss-os/contributors

# require core to review and approve for merge
/CODEOWNERS	@abyss-os/core

# critical packages which need non-default approval
/core/apk-tools		@abyss-os/core
/core/busybox		@abyss-os/core
/core/libarchive	@abyss-os/core
/core/linux		@abyss-os/core
/core/musl		@abyss-os/core
/devel/abuild		@joewholden
/devel/binutils		@abyss-os/core
/devel/gcc		@abyss-os/core
/devel/go		@5paceToast
/devel/llvm		@joewholden
