Repository abyss-os/phase1, changes with the owners that CODEOWNERS names for each.
All owners: @abyss-os/contributors, @abyss-os/core, @joewholden, @5paceToast

CODEOWNERS:

# Policy:
#   - Generally all PRs need to be reviewed by someone with commit access
#   - "Critical" packages etc may be assigned to a specific person
#   - Changes to CODEOWNERS must be reviewed and approved by the "core" team.

# default
*		@abyss-os/contributors

# require core to review and approve for merge
/CODEOWNERS	@abyss-os/core

# critical packages which need non-default approval
/core/apk-tools		@abyss-os/core
/core/busybox		@abyss-os/core
/core/libarchive	@abyss-os/core
/core/linux		@abyss-os/core
/core/musl		@abyss-os/core
/devel/abuild		@joewholden
/devel/binutils		@abyss-os/core
/devel/gcc		@abyss-os/core
/devel/go		@5paceToast
/devel/llvm		@joewholden

core/bc: rebuild
  core/bc/APKBUILD
Owners: @abyss-os/contributors

core/linux: just install headers for ppc64le
  core/linux/APKBUILD
  core/linux/config.ppc64le
Owners: @abyss-os/core

core/linux: also only install headers for mips64
  core/linux/APKBUILD
Owners: @abyss-os/core

core/libcxx: rebuild
  core/libcxx/APKBUILD
Owners: @abyss-os/contributors

devel/llvm: D80392 didn't make it into 11.0.0
  devel/llvm/APKBUILD
  devel/llvm/mips-reloc.patch
Owners: @joewholden

drone: bail if signing keys can't be fetched
  .scripts/drone.sh
Owners: @abyss-os/contributors

core/go-ipfs: upgrade 0.6.0
  core/go-ipfs/APKBUILD
Owners: @abyss-os/contributors

devel/meson: upgrade 0.55.0
  devel/meson/APKBUILD
Owners: @abyss-os/contributors

devel/go: upgrade 1.15
  devel/go/APKBUILD
  devel/go/dont_use_gold_arm64.patch
  devel/go/fix-rlimit-syscall-aarch64-armv7.patch
Owners: @5paceToast

core/libmnl: tidy
  core/libmnl/APKBUILD
Owners: @abyss-os/contributors

core/libnftnl: upgrade 1.1.7
  core/libnftnl/APKBUILD
Owners: @abyss-os/contributors

core/jansson: upgrade 2.13.1
  core/jansson/APKBUILD
Owners: @abyss-os/contributors

core/iptables: upgrade 1.8.5
  core/iptables/APKBUILD
Owners: @abyss-os/contributors

core/conmon: add 2.0.20
  core/conmon/APKBUILD
Owners: @abyss-os/contributors

core/yajl: add 2.1.0
  core/yajl/APKBUILD
Owners: @abyss-os/contributors

core/crun: add 0.14.1
  core/crun/APKBUILD
Owners: @abyss-os/contributors

core/ostree: add 2020.4
  core/ostree/APKBUILD
  core/ostree/musl-fixes.patch
Owners: @abyss-os/contributors

drone: force v4
  .scripts/drone.sh
Owners: @abyss-os/contributors

core/skopeo: add 1.1.1
  core/skopeo/APKBUILD
Owners: @abyss-os/contributors

core/cni-plugins: add 0.8.6
  core/cni-plugins/APKBUILD
Owners: @abyss-os/contributors

core/lvm2: upgrade 2.03.10
  core/lvm2/APKBUILD
  core/lvm2/fix-stdio-usage.patch
Owners: @abyss-os/contributors

core/podman: add 2.0.4
  core/podman/APKBUILD
  core/podman/podman.confd
  core/podman/podman.initd
Owners: @abyss-os/contributors

core/iproute2: upgrade 5.8.0
  core/iproute2/APKBUILD
Owners: @abyss-os/contributors

core/fuse-overlayfs: add 1.1.2
  core/fuse-overlayfs/APKBUILD
Owners: @abyss-os/contributors

core/podman: add fuse-overlayfs depend
  core/podman/APKBUILD
Owners: @abyss-os/contributors

core/podman: add some default configs
  core/podman/APKBUILD
  core/podman/containers.conf
  core/podman/registries.conf
Owners: @abyss-os/contributors

core/podman: fix typo, abuild manages to produce a package that breaks apk (lol)
  core/podman/APKBUILD
Owners: @abyss-os/contributors

devel/python: build pip, tweak configure args
  devel/python3/APKBUILD
Owners: @abyss-os/contributors

core/glib: upgrade 2.64.4
  core/glib/APKBUILD
Owners: @abyss-os/contributors

devel/meson: rebuild
  devel/meson/APKBUILD
Owners: @abyss-os/contributors

core/glib: use samurai instead of ninja
  core/glib/APKBUILD
Owners: @abyss-os/contributors

devel/meson: build with samurai
  devel/meson/APKBUILD
Owners: @abyss-os/contributors

core/skopeo: bump containers/storage version to fix mips build
  core/skopeo/APKBUILD
  core/skopeo/storage_mips.patch
  devel/go/APKBUILD
Owners: @abyss-os/contributors, @5paceToast

Revert "core/skopeo: bump containers/storage version to fix mips build"
  core/skopeo/APKBUILD
  core/skopeo/storage_mips.patch
  devel/go/APKBUILD
Owners: @abyss-os/contributors, @5paceToast

core/skopeo: fix build for mips
  core/skopeo/APKBUILD
  core/skopeo/storage_mips.patch
Owners: @abyss-os/contributors

core/skopeo: fml
  core/skopeo/APKBUILD
Owners: @abyss-os/contributors

core/lxc: upgrade 4.0.4
  core/lxc/APKBUILD
Owners: @abyss-os/contributors

core/lxd: upgrade 4.4
  core/lxd/APKBUILD
Owners: @abyss-os/contributors

core/busybox: upgrade 1.32.0
  core/busybox/0013-testsuite-fix-cpio-tests.patch
  core/busybox/APKBUILD
  core/busybox/busyboxconfig
  core/busybox/cflags.patch
  core/busybox/clang.patch
Owners: @abyss-os/core

drone: add riscv64
  .drone.yml
Owners: @abyss-os/contributors
