Repository abyss-os/phase1, changes with the owners that CODEOWNERS names for each.
All owners: @abyss-os/contributors, @abyss-os/core, @joewholden, @5paceToast

CODEOWNERS:

# Policy:
#   - Generally all PRs need to be reviewed by someone with commit access
#   - "Critical" packages etc may be assigned to a specific person
#   - Changes to CODEOWNERS must be reviewed and approved by the "core" team.

# default
*		@abyss-os/contributors

# require core to review and approve for merge
/CODEOWNERS	@abyss-os/core

# critical packages which need non-default approval
/core/apk-tools		@abyss-os/core
/core/busybox		@abyss-os/core
/core/libarchive	@abyss-os/core
/core/linux		@abyss-os/core
/core/musl		@abyss-os/core
/devel/abuild		@joewholden
/devel/binutils		@abyss-os/core
/devel/gcc		@abyss-os/core
/devel/go		@5paceToast
/devel/llvm		@joewholden

core/gawk: upgrade 5.1.0
  core/gawk/APKBUILD
Owners: @abyss-os/contributors

core/coreutils: fix
  core/coreutils/APKBUILD
  core/coreutils/nonsense.patch
Owners: @abyss-os/contributors

devel/minio: disable checks
  devel/minio/APKBUILD
Owners: @abyss-os/contributors

core/gawk: disable tests
  core/gawk/APKBUILD
Owners: @abyss-os/contributors

devel/rust: upgrade 1.44.0
  devel/rust/APKBUILD
Owners: @abyss-os/contributors

core/curl: rebuild
  core/curl/APKBUILD
Owners: @abyss-os/contributors

devel/python3: rebuild
  devel/python3/APKBUILD
Owners: @abyss-os/contributors

devel/llvm: switch to lld for mips
  devel/llvm/APKBUILD
Owners: @joewholden

devel/cmake: upgrade 3.17.3
  devel/cmake/APKBUILD
Owners: @abyss-os/contributors

core/libarchive: rebuild
  core/libarchive/APKBUILD
Owners: @abyss-os/core

core/zstd: rebuild
  core/zstd/APKBUILD
Owners: @abyss-os/contributors

core/gnugrep: rebuild
  core/gnugrep/APKBUILD
Owners: @abyss-os/contributors

core/lxc: upgrade 4.0.3
  core/lxc/APKBUILD
Owners: @abyss-os/contributors

core/c-ares: upgrade 1.16.1
  core/c-ares/APKBUILD
Owners: @abyss-os/contributors

core/libev: upgrade 4.33
  core/libev/APKBUILD
Owners: @abyss-os/contributors

core/sudo: upgrade 1.9.1
  core/sudo/APKBUILD
  core/sudo/libcrypt.patch
  core/sudo/sudo-cvtsudoers.patch
Owners: @abyss-os/contributors

core/lzip: rebuild
  core/lzip/APKBUILD
Owners: @abyss-os/contributors

core/unzip: rebuild
  core/unzip/APKBUILD
Owners: @abyss-os/contributors

core/gzip: rebuild
  core/gzip/APKBUILD
Owners: @abyss-os/contributors

core/gtar: rebuild
  core/gtar/APKBUILD
Owners: @abyss-os/contributors

core/c-ares: disable tests
  core/c-ares/APKBUILD
Owners: @abyss-os/contributors

drone: switch x86_64 to exec
  .drone.yml
Owners: @abyss-os/contributors

drone: switch ppc64le to exec
  .drone.yml
Owners: @abyss-os/contributors

drone: switch aarch64 to exec
  .drone.yml
Owners: @abyss-os/contributors

core/less: rebuild
  core/less/APKBUILD
Owners: @abyss-os/contributors

core/gzip: rebuild
  core/gzip/APKBUILD
Owners: @abyss-os/contributors

core/c-ares: rebuild
  core/c-ares/APKBUILD
Owners: @abyss-os/contributors

core/sudo: don't depend on mandoc
  core/sudo/APKBUILD
Owners: @abyss-os/contributors

core/squashfs-tools: rebuild
  core/squashfs-tools/APKBUILD
Owners: @abyss-os/contributors

core/dqlite: upgrade 1.5.0
  core/dqlite/APKBUILD
Owners: @abyss-os/contributors

core/lzo: rebuild
  core/lzo/APKBUILD
Owners: @abyss-os/contributors

core/lxd: upgrade 4.3
  core/lxd/APKBUILD
  core/lxd/unused-function.patch
  core/lxd/unused-var.patch
  core/lxd/wot.patch
Owners: @abyss-os/contributors

core/libbsd: rebuild
  core/libbsd/APKBUILD
Owners: @abyss-os/contributors

core/eudev: rebuild
  core/eudev/APKBUILD
Owners: @abyss-os/contributors

core/udev-init-scripts: rebuild
  core/udev-init-scripts/APKBUILD
Owners: @abyss-os/contributors

core/popt: upgrade 1.18
  core/popt/APKBUILD
Owners: @abyss-os/contributors

core/libmnl: rebuild
  core/libmnl/APKBUILD
Owners: @abyss-os/contributors

core/cgmanager: rebuild
  core/cgmanager/APKBUILD
Owners: @abyss-os/contributors

core/nettle: upgrade 3.6
  core/nettle/APKBUILD
Owners: @abyss-os/contributors

core/dnsmasq: upgrade 2.81
  core/dnsmasq/APKBUILD
  core/dnsmasq/nettle-3.5.patch
Owners: @abyss-os/contributors
