Repository abyss-os/phase1, changes with the owners that CODEOWNERS names for each.
All owners: @abyss-os/contributors, @abyss-os/core, @joewholden, @5paceToast

devel/nodejs: fix ppc64
  devel/nodejs/APKBUILD
  devel/nodejs/ppc64-no-minimal-toc.patch
Owners: @abyss-os/contributors

core/libgcrypt: bump since CI broke
  core/libgcrypt/APKBUILD
Owners: @abyss-os/contributors

core/libucontext: bump since CI broke
  core/libucontext/APKBUILD
Owners: @abyss-os/contributors

core/musl: bump since CI broke
  core/musl/APKBUILD
Owners: @abyss-os/core

core/linux: bump since CI broke
  core/linux/APKBUILD
Owners: @abyss-os/core

devel/abuild: drop openrsync from depends
  devel/abuild/APKBUILD
Owners: @joewholden

devel/abyss-base-dev: fix powerpc64*
  devel/abyss-base-dev/APKBUILD
Owners: @abyss-os/contributors

drone: add ppc64le
  .drone.self.yml
Owners: @abyss-os/contributors

devel/drone-runner-docker: add 1.3.0
  devel/drone-runner-docker/APKBUILD
  devel/drone-runner-docker/drone-runner-docker.confd
  devel/drone-runner-docker/drone-runner-docker.initd
Owners: @abyss-os/contributors

devel/drone-runner-docker: conf defaults
  devel/drone-runner-docker/drone-runner-docker.confd
Owners: @abyss-os/contributors

drone: switch entirely to self hosted drone server
  .drone.self.yml
  .drone.yml
Owners: @abyss-os/contributors

core/docker: switch to forked netns
  core/docker/APKBUILD
  core/docker/lol_netns.patch
Owners: @abyss-os/contributors

README: update drone urls
  README.md
Owners: @abyss-os/contributors

drone: rename pipeline
  .drone.yml
Owners: @abyss-os/contributors

core/docker: build on mips64
  core/docker/APKBUILD
  core/docker/configurable_buildmode.patch
  core/docker/lol_go.patch
Owners: @abyss-os/contributors

devel/distcc: add 3.3.3
  devel/distcc/APKBUILD
  devel/distcc/distcc-hardened.patch
  devel/distcc/distcc.pre-install
  devel/distcc/distccd.confd
  devel/distcc/distccd.initd
Owners: @abyss-os/contributors

actually, rename ppc back
  core/abyss-base/APKBUILD
  core/grub/APKBUILD
  core/libgcrypt/APKBUILD
  core/libucontext/APKBUILD
  core/linux/APKBUILD
  core/musl/APKBUILD
  core/openssl/APKBUILD
  devel/abyss-base-dev/APKBUILD
  devel/boost/APKBUILD
  devel/gcc/APKBUILD
  devel/llvm/APKBUILD
  devel/patchelf/APKBUILD
  devel/python3/APKBUILD
Owners: @abyss-os/contributors, @abyss-os/core, @joewholden

devel/distcc: install links for clang also
  devel/distcc/APKBUILD
Owners: @abyss-os/contributors

core/musl: build musl with gcc on ppc64*
  core/musl/APKBUILD
Owners: @abyss-os/core

drone: switch mips64 on
  .drone.yml
Owners: @abyss-os/contributors

core/docker: upgrade 19.03.9
  core/docker/APKBUILD
Owners: @abyss-os/contributors

core/containerd: upgrade 1.4.0-beta.0
  core/containerd/APKBUILD
  core/containerd/make-buildmode-configurable.patch
Owners: @abyss-os/contributors

devel/drone-runner-docker: set clone image
  devel/drone-runner-docker/APKBUILD
  devel/drone-runner-docker/drone-git_image.patch
Owners: @abyss-os/contributors

core/runc: fix mips (commit, not release)
  core/runc/APKBUILD
Owners: @abyss-os/contributors

devel/git-lfs: add 2.11.0
  devel/git-lfs/APKBUILD
  devel/git-lfs/git-lfs.post-install
  devel/git-lfs/git-lfs.pre-deinstall
  devel/git-lfs/makefile-extra_go_flags.patch
Owners: @abyss-os/contributors

core/ca-certificates: upgrade 20191127
  core/ca-certificates/APKBUILD
Owners: @abyss-os/contributors

devel/abuild: upgrade 4.0.66
  devel/abuild/APKBUILD
Owners: @joewholden

devel/git-lfs: disable tests
  devel/git-lfs/APKBUILD
Owners: @abyss-os/contributors

core/powerpc-utils: add 1.3.7
  core/powerpc-utils/APKBUILD
Owners: @abyss-os/contributors

core/powerpc-utils: fix paths
  core/powerpc-utils/APKBUILD
Owners: @abyss-os/contributors

drone: bleh
  .scripts/drone.sh
Owners: @abyss-os/contributors

core/powerpc-utils: rebuild
  core/powerpc-utils/APKBUILD
Owners: @abyss-os/contributors

core/ca-certificates: rebuild
  core/ca-certificates/APKBUILD
Owners: @abyss-os/contributors

devel/drone-runner-docker: use abyss plugins/docker
  devel/drone-runner-docker/APKBUILD
Owners: @abyss-os/contributors

devel/drone-runner-docker: actually add patch
  devel/drone-runner-docker/APKBUILD
  devel/drone-runner-docker/drone-plugins-docker.patch
Owners: @abyss-os/contributors

core/uboot-tools: add 2020.04
  core/uboot-tools/APKBUILD
  core/uboot-tools/defang-efi-bootcmd.patch
  core/uboot-tools/fix-ulong-typedef.patch
Owners: @abyss-os/contributors

core/u-boot: add wip 2020.04
  core/u-boot/APKBUILD
  core/u-boot/rpi4.config
Owners: @abyss-os/contributors

core/dtc: add 1.6.0
  core/dtc/APKBUILD
Owners: @abyss-os/contributors

core/linux: refresh aarch64 config (just rpi4 for now)
  core/linux/config.aarch64
Owners: @abyss-os/core

core/libucontext: upgrade 0.11, fix path
  core/libucontext/APKBUILD
  core/libucontext/fix_.end_with_clang.patch
Owners: @abyss-os/contributors

CODEOWNERS:

# Policy:
#   - Generally all PRs need to be reviewed by someone with commit access
#   - "Critical" packages etc may be assigned to a specific person
#   - Changes to CODEOWNERS must be reviewed and approved by the "core" team.

# default
*		@abyss-os/contributors

# require core to review and approve for merge
/CODEOWNERS	@abyss-os/core

# critical packages which need non-default approval
/core/apk-tools		@abyss-os/core
/core/busybox		@abyss-os/core
/core/libarchive	@abyss-os/core
/core/linux		@abyss-os/core
/core/musl		@abyss-os/core
/devel/abuild		@joewholden
/devel/binutils		@abyss-os/core
/devel/gcc		@abyss-os/core
/devel/go		@5paceToast
/devel/llvm		@joewholden
