Repository abyss-os/phase1, changes with the owners that CODEOWNERS names for each.
All owners: @abyss-os/contributors, @abyss-os/core, @joewholden, @5paceToast

CODEOWNERS:

# Policy:
#   - Generally all PRs need to be reviewed by someone with commit access
#   - "Critical" packages etc may be assigned to a specific person
#   - Changes to CODEOWNERS must be reviewed and approved by the "core" team.

# default
*		@abyss-os/contributors

# require core to review and approve for merge
/CODEOWNERS	@abyss-os/core

# critical packages which need non-default approval
/core/apk-tools		@abyss-os/core
/core/busybox		@abyss-os/core
/core/libarchive	@abyss-os/core
/core/linux		@abyss-os/core
/core/musl		@abyss-os/core
/devel/abuild		@joewholden
/devel/binutils		@abyss-os/core
/devel/gcc		@abyss-os/core
/devel/go		@5paceToast
/devel/llvm		@joewholden

devel/go: regen checksums
  devel/go/APKBUILD
Owners: @5paceToast

devel/go: mips: fix linker
  devel/go/APKBUILD
  devel/go/mips-fix-linker.patch
Owners: @5paceToast

devel/go: I swear to god...
  devel/go/APKBUILD
Owners: @5paceToast

devel/nodejs: upgrade 14.4.0
  devel/nodejs/APKBUILD
Owners: @abyss-os/contributors

devel/python3: upgrade 3.8.3
  devel/python3/APKBUILD
Owners: @abyss-os/contributors

core/nghttp2: upgrade 1.41.0
  core/nghttp2/APKBUILD
Owners: @abyss-os/contributors

core/raft: upgrade 0.9.23
  core/raft/APKBUILD
Owners: @abyss-os/contributors

core/fuse3: upgrade 3.9.2
  core/fuse3/APKBUILD
Owners: @abyss-os/contributors

core/fuse3: sigh
  core/fuse3/APKBUILD
  core/fuse3/add-includes.patch
Owners: @abyss-os/contributors

core/dqlite: upgrade 1.4.4
  core/dqlite/APKBUILD
Owners: @abyss-os/contributors

core/shadow: upgrade 4.8.1
  core/shadow/APKBUILD
Owners: @abyss-os/contributors

core/lxd: upgrade 4.2
  core/lxd/APKBUILD
  core/lxd/fix-boltdb-mips.patch
  core/lxd/mips-fixes-1.patch
  core/lxd/mips-fixes-2.patch
  core/lxd/mips-fixes-3.patch
  core/lxd/mips-fixes-4.patch
  core/lxd/mips-fixes-5.patch
Owners: @abyss-os/contributors

core/docker: fix init
  core/docker/APKBUILD
Owners: @abyss-os/contributors

core/acpica: add 20200528
  core/acpica/APKBUILD
  core/acpica/disable-werror.patch
Owners: @abyss-os/contributors

core/acpica: drop iasl subpackage, build on all arch
  core/acpica/APKBUILD
Owners: @abyss-os/contributors

devel/rust: re-enable on x86_64
  devel/rust/APKBUILD
  devel/rust/even_more_morons.patch
  devel/rust/how_even.patch
  devel/rust/more_morons.patch
  devel/rust/morons.patch
Owners: @abyss-os/contributors

core/libarchive: upgrade 3.4.3
  core/libarchive/APKBUILD
Owners: @abyss-os/core

devel/llvm: rebuild
  devel/llvm/APKBUILD
Owners: @joewholden

core/gdbm: rebuild
  core/gdbm/APKBUILD
Owners: @abyss-os/contributors

devel/minio: upgrade 0.20200516
  devel/minio/APKBUILD
Owners: @abyss-os/contributors

devel/minio-client: upgrade 0.20200516
  devel/minio-client/APKBUILD
Owners: @abyss-os/contributors

core/xz: upgrade 5.2.5
  core/xz/APKBUILD
Owners: @abyss-os/contributors

core/zstd: upgrade 1.4.5
  core/zstd/APKBUILD
Owners: @abyss-os/contributors

core/gnugrep: upgrade 3.4
  core/gnugrep/APKBUILD
Owners: @abyss-os/contributors

core/bzip2: rebuild
  core/bzip2/APKBUILD
Owners: @abyss-os/contributors

core/coreutils: upgrade 8.32
  core/coreutils/APKBUILD
Owners: @abyss-os/contributors

devel/go: fix arm
  devel/go/APKBUILD
  devel/go/fix-rlimit-syscall-aarch64-armv7.patch
  devel/go/fix-setrlimit-hang.patch
Owners: @5paceToast

core/attr: rebuild
  core/attr/APKBUILD
Owners: @abyss-os/contributors

core/attr: skip checks
  core/attr/APKBUILD
Owners: @abyss-os/contributors

core/dhcpcd: upgrade 9.1.2
  core/dhcpcd/APKBUILD
Owners: @abyss-os/contributors

core/dbus: upgrade 1.13.16
  core/dbus/APKBUILD
Owners: @abyss-os/contributors

core/libxml2: upgrade 2.9.10
  core/libxml2/APKBUILD
  core/libxml2/fix-null-pointer-dereference.patch
Owners: @abyss-os/contributors

core/libxslt: upgrade 1.1.34
  core/libxslt/APKBUILD
  core/libxslt/CVE-2019-11068.patch
Owners: @abyss-os/contributors

core/libgcrypt: rebuild
  core/libgcrypt/APKBUILD
Owners: @abyss-os/contributors

core/libgpg-error: upgrade 1.38
  core/libgpg-error/APKBUILD
  core/libgpg-error/gawk5.patch
Owners: @abyss-os/contributors

devel/abuild: rebuild
  devel/abuild/APKBUILD
Owners: @joewholden

core/zlib: rebuild
  core/zlib/APKBUILD
Owners: @abyss-os/contributors

devel/gcc: upgrade 10.1.0
  devel/gcc/0003-gcc-poison-system-directories.patch
  devel/gcc/0010-ldbl128-config.patch
  devel/gcc/0012-static-pie.patch
  devel/gcc/0016-invalid_tls_model.patch
  devel/gcc/013_all_default-ssp-fix.patch
  devel/gcc/090_all_pr55930-dependency-tracking.patch
  devel/gcc/203-libgcc_s.patch
  devel/gcc/400-dlang-phobos.patch
  devel/gcc/401-dlang-32bits.patch
  devel/gcc/402-dlang-stat.patch
  devel/gcc/403-dlang-ibmz.patch
  devel/gcc/APKBUILD
  devel/gcc/ada-musl.patch
  devel/gcc/ada-shared.patch
Owners: @abyss-os/core

core/libucontext: rebuild
  core/libucontext/APKBUILD
Owners: @abyss-os/contributors

core/zip: rebuild
  core/zip/APKBUILD
Owners: @abyss-os/contributors
