Repository abyss-os/phase1, changes with the owners that CODEOWNERS names for each.
All owners: @abyss-os/contributors, @abyss-os/core, @joewholden, @5paceToast

devel/distcc: python3 compat
  devel/distcc/APKBUILD
  devel/distcc/python3-compat.patch
Owners: @abyss-os/contributors

core/u-boot: fix rpi config
  core/u-boot/APKBUILD
  core/u-boot/rpi.config
Owners: @abyss-os/contributors

core/linux: fix rpi4 config
  core/linux/APKBUILD
  core/linux/config.aarch64
Owners: @abyss-os/core

core/u-boot: made a mess of that rebase
  core/u-boot/APKBUILD
  core/u-boot/rpi4.config
Owners: @abyss-os/contributors

core/linux: this shouldn't have made it in either
  core/linux/APKBUILD
Owners: @abyss-os/core

core/linux: or this, sigh
  core/linux/config.aarch64
Owners: @abyss-os/core

devel/llvm: explicitly disable llvm-go
  devel/llvm/APKBUILD
Owners: @joewholden

core/openssl: upgrade 7.70.0
  core/curl/APKBUILD
Owners: @abyss-os/contributors

drone: fix image for mips64
  .drone.yml
Owners: @abyss-os/contributors

devel/drone-runner-docker: fix initd
  devel/drone-runner-docker/APKBUILD
  devel/drone-runner-docker/drone-runner-docker.initd
Owners: @abyss-os/contributors

core/containerd: upgrade 1.4.0-beta.1
  core/containerd/APKBUILD
Owners: @abyss-os/contributors

core/containerd: fix checksum
  core/containerd/APKBUILD
Owners: @abyss-os/contributors

core/dhcpcd: upgrade 9.0.2
  core/dhcpcd/APKBUILD
Owners: @abyss-os/contributors

devel/abyss-base-dev: depend on lld and llvm-binutils for mips64
  devel/abyss-base-dev/APKBUILD
Owners: @abyss-os/contributors

core/docker: upgrade 19.03.10
  core/docker/APKBUILD
Owners: @abyss-os/contributors

core/docker: upgrade 19.03.11, tidy
  core/docker/APKBUILD
  core/docker/defaultlog.patch
  core/docker/nojsonlog.patch
  core/docker/nologs.patch
Owners: @abyss-os/contributors

devel/drone-runner-docker: logconfig
  devel/drone-runner-docker/APKBUILD
  devel/drone-runner-docker/drone-logconfig.patch
Owners: @abyss-os/contributors

devel/drone-runner-docker: only use local on mips
  devel/drone-runner-docker/APKBUILD
  devel/drone-runner-docker/drone-logconfig.patch
Owners: @abyss-os/contributors

drone: switch mips64 back to exec until docker fix their broken code
  .drone.yml
Owners: @abyss-os/contributors

devel/drone-runner-exec: add 1.0.0-beta9
  devel/drone-runner-exec/APKBUILD
  devel/drone-runner-exec/drone-git_image.patch
  devel/drone-runner-exec/drone-logconfig.patch
  devel/drone-runner-exec/drone-plugins-docker.patch
  devel/drone-runner-exec/drone-runner-exec.confd
  devel/drone-runner-exec/drone-runner-exec.initd
Owners: @abyss-os/contributors

devel/drone-runner-exec: fix up
  devel/drone-runner-exec/APKBUILD
  devel/drone-runner-exec/drone-git_image.patch
  devel/drone-runner-exec/drone-logconfig.patch
  devel/drone-runner-exec/drone-plugins-docker.patch
  devel/drone-runner-exec/drone-runner-exec.confd
  devel/drone-runner-exec/drone-runner-exec.initd
Owners: @abyss-os/contributors

core/docker: remove patches
  core/docker/APKBUILD
  core/docker/nojsonlog.patch
  core/docker/nologs.patch
Owners: @abyss-os/contributors

core/raft: upgrade 0.9.22
  core/raft/APKBUILD
Owners: @abyss-os/contributors

core/libuv: upgrade 1.38.0
  core/libuv/APKBUILD
Owners: @abyss-os/contributors

core/sqlite: upgrade 3.32.1
  core/sqlite/APKBUILD
Owners: @abyss-os/contributors

core/zerotier-one: fix silly init script
  core/zerotier-one/APKBUILD
  core/zerotier-one/zerotier-one.initd
Owners: @abyss-os/contributors

core/apk-tools: drop ppc64le patch
  core/apk-tools/APKBUILD
  core/apk-tools/rename-ppc64-powerpc64.patch
Owners: @abyss-os/core

devel/boost: upgrade 1.73.0
  devel/boost/APKBUILD
Owners: @abyss-os/contributors

devel/swig: rebuild
  devel/swig/APKBUILD
Owners: @abyss-os/contributors

devel/drone-runner-exec: don't limit to push events by default
  devel/drone-runner-exec/APKBUILD
  devel/drone-runner-exec/drone-runner-exec.confd
Owners: @abyss-os/contributors

devel/drone-runner-docker: don't limit to push events by default
  devel/drone-runner-docker/APKBUILD
  devel/drone-runner-docker/drone-runner-docker.confd
Owners: @abyss-os/contributors

core/openssh: upgrade 8.3p1
  core/openssh/APKBUILD
Owners: @abyss-os/contributors

core/musl: perhaps handle mips64el
  core/musl/APKBUILD
Owners: @abyss-os/core

devel/drone-runner-docker: update docker tags
  devel/drone-runner-docker/APKBUILD
  devel/drone-runner-docker/drone-git_image.patch
  devel/drone-runner-docker/drone-logconfig.patch
  devel/drone-runner-docker/drone-plugins-docker.patch
Owners: @abyss-os/contributors

devel/llvm: fix mips ldso, backport reloc fixes from llvm master
  devel/llvm/APKBUILD
  devel/llvm/mips-ldso.patch
  devel/llvm/mips-reloc.patch
Owners: @joewholden

devel/llvm: drop swig dependency, don't need it anyway
  devel/llvm/APKBUILD
Owners: @joewholden

devel/drone-runner-docker: update docker images
  devel/drone-runner-docker/APKBUILD
  devel/drone-runner-docker/drone-git_image.patch
  devel/drone-runner-docker/drone-plugins-docker.patch
Owners: @abyss-os/contributors

devel/git-lfs: rebuild
  devel/git-lfs/APKBUILD
Owners: @abyss-os/contributors

core/docker: fix docker-proxy and docker-init
  core/docker/APKBUILD
Owners: @abyss-os/contributors

devel/go: upgrade 1.14.4
  devel/go/APKBUILD
Owners: @5paceToast

CODEOWNERS:

# Policy:
#   - Generally all PRs need to be reviewed by someone with commit access
#   - "Critical" packages etc may be assigned to a specific person
#   - Changes to CODEOWNERS must be reviewed and approved by the "core" team.

# default
*		@abyss-os/contributors

# require core to review and approve for merge
/CODEOWNERS	@abyss-os/core

# critical packages which need non-default approval
/core/apk-tools		@abyss-os/core
/core/busybox		@abyss-os/core
/core/libarchive	@abyss-os/core
/core/linux		@abyss-os/core
/core/musl		@abyss-os/core
/devel/abuild		@joewholden
/devel/binutils		@abyss-os/core
/devel/gcc		@abyss-os/core
/devel/go		@5paceToast
/devel/llvm		@joewholden
