Repository abyss-os/phase1, changes with the owners that CODEOWNERS names for each.
All owners: @abyss-os/contributors, @abyss-os/core, @joewholden, @5paceToast

CODEOWNERS:

# Policy:
#   - Generally all PRs need to be reviewed by someone with commit access
#   - "Critical" packages etc may be assigned to a specific person
#   - Changes to CODEOWNERS must be reviewed and approved by the "core" team.

# default
*		@abyss-os/contributors

# require core to review and approve for merge
/CODEOWNERS	@abyss-os/core

# critical packages which need non-default approval
/core/apk-tools		@abyss-os/core
/core/busybox		@abyss-os/core
/core/libarchive	@abyss-os/core
/core/linux		@abyss-os/core
/core/musl		@abyss-os/core
/devel/abuild		@joewholden
/devel/binutils		@abyss-os/core
/devel/gcc		@abyss-os/core
/devel/go		@5paceToast
/devel/llvm		@joewholden

core/libnih: rebuild
  core/libnih/APKBUILD
Owners: @abyss-os/contributors

drone: pass --no-cache
  .scripts/drone.sh
Owners: @abyss-os/contributors

core/iproute2: upgrade 5.7.0
  core/iproute2/APKBUILD
Owners: @abyss-os/contributors

core/netcat-openbsd: rebuild
  core/netcat-openbsd/APKBUILD
Owners: @abyss-os/contributors

devel/abyss-base-dev: no platforms require binutils anymore
  devel/abyss-base-dev/APKBUILD
Owners: @abyss-os/contributors

core/ca-certificates: rebuild
  core/ca-certificates/APKBUILD
Owners: @abyss-os/contributors

devel/go: upgrade 1.14.6
  devel/go/APKBUILD
Owners: @5paceToast

devel/drone-runner-exec: use apk --print-arch instead
  devel/drone-runner-exec/drone-runner-exec.confd
Owners: @abyss-os/contributors

devel/drone-runner-exec: use apk --print-arch instead (redux)
  devel/drone-runner-exec/APKBUILD
Owners: @abyss-os/contributors

core/nghttp2: update url, just build lib
  core/nghttp2/APKBUILD
Owners: @abyss-os/contributors

core/curl: upgrade 7.71.0
  core/curl/APKBUILD
Owners: @abyss-os/contributors

devel/drone-runner-exec: fix build on riscv64
  devel/drone-runner-exec/APKBUILD
  devel/drone-runner-exec/go-isatty-12.patch
Owners: @abyss-os/contributors

devel/llvm: upgrade 10.0.1
  devel/llvm/APKBUILD
Owners: @joewholden

core/libcxx: upgrade 10.0.1
  core/libcxx/APKBUILD
Owners: @abyss-os/contributors

devel/cmake: upgrade 3.18.0
  devel/cmake/APKBUILD
Owners: @abyss-os/contributors

devel/python3: upgrade 3.8.5
  devel/python3/APKBUILD
Owners: @abyss-os/contributors

devel/perl: upgrade 5.32.0
  devel/perl/APKBUILD
Owners: @abyss-os/contributors

devel/git: upgrade 2.27.0
  devel/git/APKBUILD
Owners: @abyss-os/contributors

core/sqlite: upgrade 3.32.3
  core/sqlite/APKBUILD
Owners: @abyss-os/contributors

core/libuv: upgrade 1.38.1
  core/libuv/APKBUILD
Owners: @abyss-os/contributors

core/raft: upgrade 0.9.24
  core/raft/APKBUILD
Owners: @abyss-os/contributors

core/rhash: upgrade 1.4.0
  core/rhash/APKBUILD
Owners: @abyss-os/contributors

drone: tidy
  .scripts/drone.sh
Owners: @abyss-os/contributors

core/libarchive: rebuild
  core/libarchive/APKBUILD
Owners: @abyss-os/core

devel/cmake: remove bashcomp
  devel/cmake/APKBUILD
Owners: @abyss-os/contributors

devel/samurai: rebuild
  devel/samurai/APKBUILD
Owners: @abyss-os/contributors

core/containerd: upgrade 1.4.0-beta2
  core/containerd/APKBUILD
Owners: @abyss-os/contributors

core/runc: upgrade 1.0.0-rc91
  core/runc/APKBUILD
Owners: @abyss-os/contributors

devel/go-md2man: rebuild
  devel/go-md2man/APKBUILD
Owners: @abyss-os/contributors

devel/go: rebuild
  devel/go/APKBUILD
Owners: @5paceToast

core/musl: use gcc on ppc64le and riscv64
  core/musl/APKBUILD
Owners: @abyss-os/core

devel/gcc: upgrade 10.2.0, disable D, fix config_helper usage
  devel/gcc/APKBUILD
Owners: @abyss-os/core

core/musl: also use gnu-ld
  core/musl/APKBUILD
Owners: @abyss-os/core

core/musl: upgrade 1.2.1
  core/musl/APKBUILD
Owners: @abyss-os/core

core/gsed: rebuild
  core/gsed/APKBUILD
Owners: @abyss-os/contributors

core/gsed: disable tests
  core/gsed/APKBUILD
Owners: @abyss-os/contributors

devel/llvm: upgrade 11.0.0-rc1
  devel/llvm/APKBUILD
  devel/llvm/mips-reloc.patch
Owners: @joewholden

devel/python3: rebuild (missing ctypes on x86_64)
  devel/python3/APKBUILD
Owners: @abyss-os/contributors

core/musl: rebuild
  core/musl/APKBUILD
Owners: @abyss-os/core

core/linux: upgrade 5.7.14 use LLVM for all targets
  core/linux/APKBUILD
  core/linux/config.x86_64
Owners: @abyss-os/core
