Repository abyss-os/phase1, changes with the owners that CODEOWNERS names for each.
All owners: @abyss-os/contributors, @abyss-os/core, @joewholden, @5paceToast

CODEOWNERS:

# Policy:
#   - Generally all PRs need to be reviewed by someone with commit access
#   - "Critical" packages etc may be assigned to a specific person
#   - Changes to CODEOWNERS must be reviewed and approved by the "core" team.

# default
*		@abyss-os/contributors

# require core to review and approve for merge
/CODEOWNERS	@abyss-os/core

# critical packages which need non-default approval
/core/apk-tools		@abyss-os/core
/core/busybox		@abyss-os/core
/core/libarchive	@abyss-os/core
/core/linux		@abyss-os/core
/core/musl		@abyss-os/core
/devel/abuild		@joewholden
/devel/binutils		@abyss-os/core
/devel/gcc		@abyss-os/core
/devel/go		@5paceToast
/devel/llvm		@joewholden

core/lxc: upgrade 4.0.2
  core/lxc/APKBUILD
Owners: @abyss-os/contributors

core/lxd: upgrade 4.1
  core/lxd/APKBUILD
Owners: @abyss-os/contributors

core/kbd: add 2.2.0
  core/kbd/0001-libkbdfile-Check-compression-suffix-even-if-the-suff.patch
  core/kbd/0001-libkeymap-Fix-the-compatibility-with-the-busybox-s-l.patch
  core/kbd/APKBUILD
  core/kbd/error.h
  core/kbd/fix-tests.patch
Owners: @abyss-os/contributors

devel/nim: add 1.2.0
  devel/nim/APKBUILD
  devel/nim/fix-cc.patch
  devel/nim/nim-config-enable-ucontext.patch
  devel/nim/nim-config-fix-paths.patch
  devel/nim/niminst-fix-paths.patch
Owners: @abyss-os/contributors

core/libucontext: disable tests
  core/libucontext/APKBUILD
Owners: @abyss-os/contributors

core/apk-tools: don't print endian in version, it looks dumb
  core/apk-tools/APKBUILD
  core/apk-tools/add_print-endian.patch
Owners: @abyss-os/core

core/docker: upgrade 19.03.8
  core/docker/APKBUILD
Owners: @abyss-os/contributors

core/docker: oops, don't build -doc
  core/docker/APKBUILD
Owners: @abyss-os/contributors

devel/elfutils: upgrade 0.179, cleanup unused patches, drop qsort_r patch, roll -libelf into main package
  devel/elfutils/0001-Fix-TEMP_FAILURE_RETRY-definition-when-not-defined.patch
  devel/elfutils/APKBUILD
  devel/elfutils/CVE-2017-7607.patch
  devel/elfutils/CVE-2017-7608.patch
  devel/elfutils/CVE-2018-18310.patch
  devel/elfutils/fix-aarch64_fregs.patch
  devel/elfutils/musl-canonicalize_file_name.patch
  devel/elfutils/musl-qsort_r.patch
Owners: @abyss-os/contributors

devel/ccache: upgrade 3.7.9, tidy
  devel/ccache/APKBUILD
Owners: @abyss-os/contributors

core/libtirpc: upgrade 1.2.6
  core/libtirpc/APKBUILD
  core/libtirpc/musl.patch
Owners: @abyss-os/contributors

core/dhcpcd: drop bsd-compat-headers dep
  core/dhcpcd/APKBUILD
Owners: @abyss-os/contributors

core/openrc: drop bsd-compat-headers dep
  core/openrc/APKBUILD
Owners: @abyss-os/contributors

core/rpcbind: drop bsd-compat-headers dep
  core/rpcbind/APKBUILD
Owners: @abyss-os/contributors

core/nfs-utils: drop bsd-compat-headers dep
  core/nfs-utils/APKBUILD
Owners: @abyss-os/contributors

core/lxd: apply mips fixes
  core/lxd/APKBUILD
  core/lxd/fix-boltdb-mips.patch
  core/lxd/mips-fixes-1.patch
  core/lxd/mips-fixes-2.patch
  core/lxd/mips-fixes-3.patch
  core/lxd/mips-fixes-4.patch
  core/lxd/mips-fixes-5.patch
Owners: @abyss-os/contributors

core/openrc: depend on kbd
  core/openrc/APKBUILD
Owners: @abyss-os/contributors

core/lxc: bleh
  core/lxc/APKBUILD
Owners: @abyss-os/contributors

devel/abyss-base-dev: catch mips64el
  devel/abyss-base-dev/APKBUILD
Owners: @abyss-os/contributors

core/apk-tools: rename ppc64* to powerpc
  core/apk-tools/APKBUILD
  core/apk-tools/rename-ppc64-powerpc64.patch
Owners: @abyss-os/core

core/apk-tools: missed one
  core/apk-tools/APKBUILD
  core/apk-tools/rename-ppc64-powerpc64.patch
Owners: @abyss-os/core

devel/llvm: enable crt on powerpc, give fixing ldso on mips a whirl
  devel/llvm/APKBUILD
  devel/llvm/mips-ldso.patch
  devel/llvm/mips_ppc_crt.patch
Owners: @joewholden

devel/llvm: surprised face, forgot to regen checksums
  devel/llvm/APKBUILD
Owners: @joewholden

devel/llvm: and I broke out of tree build
  devel/llvm/APKBUILD
Owners: @joewholden

devel/llvm: fix mips ldso patch, knew it wouldn't be that simple
  devel/llvm/APKBUILD
  devel/llvm/mips-ldso.patch
Owners: @joewholden

core/openssl: s/ppc64le/powerpc64le
  core/openssl/APKBUILD
Owners: @abyss-os/contributors

devel/abuild: upgrade 4.0.62
  devel/abuild/APKBUILD
Owners: @joewholden

core/openrsync: don't install as rsync for now
  core/openrsync/APKBUILD
Owners: @abyss-os/contributors

core/rsync: readd
  core/rsync/APKBUILD
  core/rsync/rsyncd.conf
  core/rsync/rsyncd.confd
  core/rsync/rsyncd.initd
  core/rsync/rsyncd.logrotate
Owners: @abyss-os/contributors

core/go-ipfs: makedepend bash
  core/go-ipfs/APKBUILD
Owners: @abyss-os/contributors

core/abyss-base: ->powerpc64
  core/abyss-base/APKBUILD
Owners: @abyss-os/contributors

core/libgcrypt: ->powerpc64
  core/libgcrypt/APKBUILD
Owners: @abyss-os/contributors

core/libucontext: ->powerpc64
  core/libucontext/APKBUILD
Owners: @abyss-os/contributors

core/musl: ->powerpc64
  core/musl/APKBUILD
Owners: @abyss-os/core

core/linux: ->powerpc64
  core/linux/APKBUILD
Owners: @abyss-os/core

core/grub: ->powerpc64
  core/grub/APKBUILD
Owners: @abyss-os/contributors

devel/boost: ->powerpc64
  devel/boost/APKBUILD
Owners: @abyss-os/contributors

devel/patchelf: ->powerpc64
  devel/patchelf/APKBUILD
Owners: @abyss-os/contributors

devel/python3: ->powerpc64
  devel/python3/APKBUILD
Owners: @abyss-os/contributors

devel/elfutils: provide -libelf
  devel/elfutils/APKBUILD
Owners: @abyss-os/contributors
